#background{ object-fit: fill; z-index: 0;}
.video{ height: 100%; width: 100%; overflow: hidden;}
.center {

	height: 100%;
	width: 100%;
	z-index: 1;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	/*align-items: center;*/
}


.title{ 
	order: 1;
	height: 80px;
	width: 100%;
	text-align: center;
	
	}
.title h1{ font-size: 50px; }
.title h1, .title p { margin-bottom: 0px; margin-top: 0px;}

.location_div { 


	width: 100%;
	order: 2;
	/*height: 50px;
	border: 1px solid red;
*/

}
.location_form{

	width: 100%;
	text-align: center;
	order: 2;


}
.location_input{

	width: 35%;


	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;

}

body { margin: 0; height: 100%; overflow-x: hidden; }
html { height: 100%;  }